html{
    font-size: 10px;
}
body{
    background-color: #e9ebee;
    font-family: 'Lato', sans-serif;
    // font-family: "SFUIText-Regular",sans-serif;
    // display: flex;
    // align-items: center;
    // flex-direction: column; 
}
