* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #202020;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, #080808, #202020);
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  font-family: 'Orbitron', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 120px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  width: calc(100% - 200px);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top__wrapper {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__wrapper--logo--image {
  display: block;
  width: 130px;
  margin-top: -0.5em;
}

.header__top__wrapper--user {
  width: 500px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__top__wrapper--user--search {
  outline: none;
  border: none;
  padding-left: 0.8em;
  border-radius: 4px;
  height: 100%;
  width: 200px;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
}

.header__top__wrapper--user--search::-webkit-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  opacity: 1;
}

.header__top__wrapper--user--search:-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  opacity: 1;
}

.header__top__wrapper--user--search::-ms-input-placeholder {
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  opacity: 1;
}

.header__top__wrapper--user--search::placeholder {
  font-size: 1.8rem;
  font-family: 'Orbitron', sans-serif;
  opacity: 1;
}

.header__top__wrapper--user--login {
  width: 120px;
  height: 100%;
  background-color: #27a8e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.header__top__wrapper--user--login--text {
  font-size: 2rem;
}

.header__top__wrapper--user--login.register {
  background-color: black;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 200px);
  height: 50%;
}

.header__bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  height: 51px;
}

.header__bottom__nav--list {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14.5px 24px;
  background: #232526;
  background: -webkit-gradient(linear, left bottom, left top, from(#414345), to(#232526));
  background: linear-gradient(to top, #414345, #232526);
  position: relative;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  z-index: 6;
}

.header__bottom__nav--list:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4C4E50), to(#383A3B));
  background: linear-gradient(to bottom, #4C4E50, #383A3B);
  -webkit-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
}

.header__bottom__nav--list--nav {
  position: absolute;
  width: 900px;
  height: auto;
  background-color: #1f1f1f;
  display: none;
  top: 51px;
  cursor: default;
}

.header__bottom__nav--list--nav--wrapper {
  position: absolute;
  width: 660px;
  height: 200px;
  left: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__bottom__nav--list--nav--wrapper--game {
  width: 250px;
  height: 200px;
  background-image: url("https://via.placeholder.com/300");
}

.header__bottom__nav--list--nav--nav {
  height: 100%;
  width: 200px;
}

.header__bottom__nav--list--nav--nav--list {
  width: 100%;
  height: 50px;
  background-color: #31353e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
}

.header__bottom__nav--list--nav--nav--list:hover {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.header__bottom__nav--list--nav--nav--list:hover .header__bottom__nav--list--nav--nav--list--line {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__bottom__nav--list--nav--nav--list--line {
  width: 40px;
  height: 2px;
  background-color: #31353e;
}

.header__bottom__nav--list:hover .nav--first {
  left: -40px;
}

.header__bottom__nav--list:hover .nav--second {
  right: -587px;
}

.header__bottom__nav--list:hover .nav--third {
  left: -313px;
}

.header__bottom__nav--list:hover .nav--fourth {
  left: -494px;
}

.header__bottom__nav--list:hover .nav--fifth {
  left: -662px;
}

.header__bottom__nav--list:hover .header__bottom__nav--list--nav {
  display: block;
  -webkit-animation: headernavigation 0.6s linear forwards;
          animation: headernavigation 0.6s linear forwards;
}

@-webkit-keyframes headernavigation {
  0% {
    opacity: 1;
    -webkit-transform: translatex(30px);
            transform: translatex(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes headernavigation {
  0% {
    opacity: 1;
    -webkit-transform: translatex(30px);
            transform: translatex(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

.main {
  width: calc(100% - 200px);
  height: auto;
}

.main__top {
  margin: 100px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__top__slider {
  width: calc(100% - 29px);
  height: 500px;
  position: relative;
}

.main__top__slider__image {
  width: 100%;
  height: 500px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  background-image: url("https://i.pinimg.com/originals/32/4c/e2/324ce26a7f7a880483bf7bc12574d6f0.jpg");
  opacity: 0.3;
  border-radius: 8px;
}

.main__top__slider__image.active {
  z-index: 1;
  opacity: 1;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main__top__slider__image.firstimage {
  position: absolute;
}

.main__top__slider__image.secondimage {
  background-image: url("https://c.wallhere.com/photos/5e/71/armor_clouds_giant_sunset_warrior_video_games_artwork_fantasy_art-27590.jpg!d");
  position: absolute;
}

.main__top__slider__image.thirdimage {
  background-image: url("https://gameranx.com/wp-content/uploads/2017/03/Gwent-The-Witcher-Card-Game-1080P-Wallpaper.jpg");
  position: absolute;
}

.main__top__slider__image.fourthimage {
  background-image: url("https://stmed.net/sites/default/files/pc-gaming-hd-wallpapers-33488-2835517.jpg");
  position: absolute;
}

.main__top__slider__image.fifthimage {
  position: absolute;
  background-image: url("https://stmed.net/sites/default/files/hellgate%3A-london-hd-wallpapers-33229-5837648.jpg");
}

.main__top #prev {
  left: 50px;
}

.main__top #next {
  right: 50px;
}

.main__top .both {
  position: absolute;
  top: 230px;
  z-index: 2;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer !important;
}

.main__top .both:hover .bothkey {
  color: #19a6e7b6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.main__top .bothkey {
  font-size: 70px;
  color: #02010e8a;
}

.main__middle {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__middle__wrapper {
  width: calc(100% - 100px);
  background-color: rgba(13, 21, 31, 0.521);
  border-radius: 8px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__middle__wrapper__image {
  width: 270px;
  height: 350px;
  background-image: url("https://imgc.allpostersimages.com/img/print/posters/halo-4-key-art-video-game-poster_a-G-12925559-0.jpg");
  margin: 50px 0 80px;
  background-position: center;
  background-size: 100%;
  border-radius: 8px 8px 0 0;
  position: relative;
  cursor: pointer;
}

.main__middle__wrapper__image:hover {
  background-size: 120%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 8px 8px 0 0;
}

.main__middle__wrapper__image:before {
  content: "Halo 4";
  width: 100%;
  height: 50px;
  background-color: #000;
  position: absolute;
  bottom: -50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.main__middle__wrapper__image:hover:after {
  content: "FOR MORE CLICK HERE";
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #0c0c0ce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 25px;
  border-radius: 8px 8px 0 0;
  color: #fff;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: red;
}

.form {
  font-family: "Concolas";
  width: 400px;
  height: 600px;
  background-color: #505c5ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
  border-radius: 8px;
}

.form__register {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-bottom: 1px solid transparent;
  width: 100%;
  height: 30px;
  background-color: transparent;
  z-index: 1;
  padding-left: 10px;
}

.form__register:focus, .form__register:valid {
  outline: none;
  border-bottom: 1px solid #0bb3e6;
}

.form__register:focus + label, .form__register:valid + label {
  top: -50px;
  font-size: 17px;
  color: #0bb3e6;
}

.form__label {
  display: block;
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  top: -30px;
  left: -150px;
}

.form__label.repeatpassword {
  left: -121px;
}

.form__label.email {
  left: -165px;
}

.form__label.age {
  left: -173px;
}

.form__label.bday {
  left: -154px;
}

.form__label.balance {
  left: -157px;
}

.form__submit {
  width: 150px;
  height: 40px;
  background-color: #0bb3e6;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  letter-spacing: 3px;
  font-weight: 600;
  cursor: pointer;
}

form.login {
  height: 350px;
  position: relative;
}

form.login .register {
  font-size: 1.7rem;
  color: #fff;
  position: absolute;
  bottom: 8%;
  left: auto;
  padding: 5px;
}

form.login .register:hover {
  color: #720a0aab;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=index.css.map */