.admin {
	&__list {
		 &__group {
				padding-left: 0;
				margin-bottom: 20px;
				border-radius: 2px;
		 }
		 &__item {
				position: relative;
				display: block;
				padding: 10px 15px;
				margin-bottom: -1px;
				border: 1px solid #ddd;
				background-color: #24942d33;
				color: #aef7d9;
		 }
		 &__span {
				float: left;
				color: #67ff41;
				font-weight: 300;
		 }
	}
	 &__name{   
			 color: #f1f1f1;
			 margin-bottom: 30px;
			 display: flex;
			 justify-content: space-between;

			 &--title {
					margin-left: 40px;
			 }
		}
	 &__game {
			&__form {
				 display: flex;
				 flex-direction: column;
			}
			&__button {
				height: 50px;
				font-size: 1.8rem;
				color: #fff;
				border-radius: 4px;
				border: none;
				outline: none;
				font-weight: 600;
				cursor: pointer;
				-webkit-align-self: center;
				align-self: center;
				font-family: "Baloo Chettan", cursive;
				margin: 2.3em 0;
				letter-spacing: 1px;
				text-transform: uppercase;
			}

			&__social {
				width: 40px;
				height: 40px;
				justify-content: center;
				border-radius: 50%;
				margin-right: 5px;
				font-size: 18px;
	 
			}   
			
		 
	 } 
	 &__dash {
			display: flex;
			justify-content: flex-start;
			&__info {
					 width: 200px;
					 height: 100px;
					 margin: 20px 20px 20px 0;
					 padding: 16px;
					 &--age {
								background-color: #fbff00b8;
								&--div {
									width: 150px;
									height: 60px;
									display: flex;
									justify-content: flex-start;
								}
								&--awesome {
									color: #2be9c0;
									font-size: 47px;
								}
								&--span {
									color: #670808;
									font-size: 30px;
									margin-left: 60px;
									font-weight: 700;
								}
								&--p {
									margin: 0;
									color: #670808;
									font-size: 15px;
									text-align: right;
								}
					 }
					 &--total {
							background-color: #18f9c8;
				
							&--div {
								width: 150px;
								height: 60px;
								display: flex;
								justify-content: flex-start;
							}
							&--awesome {
								color: #670808;
								font-size: 47px;
							}
							&--span {
								color: #ff2929;
								font-size: 30px;
								margin-left: 60px;
								font-weight: 700;
							}
							&--p {
								margin: 0;
								color: #670808;
								font-size: 15px;
								text-align: right;
							}
				 }
			}

		 &__users {
				width: 800px;
				height: auto;
				background-color: #d7f7c3;
					&__table {
							font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
							border-collapse: collapse;
							width: 100%;
							&--td {
							border: 1px solid #ddd;
							padding: 8px;
							}
							&--th {
							border: 1px solid #ddd;
							padding: 8px;
							}
							&--tr {
								height: 57px;
							}
							
							&--tr:nth-child(even){background-color: #f2f2f2;}
							
							&--tr:hover {background-color: #ddd;}
							
							&--th {
							padding-top: 12px;
							padding-bottom: 12px;
							text-align: left;
							background-color: #3f8812;
							color: white;
							}
							&--span {
								 font-size: 15px;
							}
			}
	
		 }
		}
}

.cartShow {
    display: none;
}

.hover__span__cart {
	cursor: pointer;
}
    
.hover__span__cart:hover + .cartShow {
	display: block;
	position: absolute;
  	bottom: 58px;
	width: 274px;
	height: auto;
	background-color: #0cc29a;
} 