.user {
    &__cdkey {
        width: 800px;
        height: auto;
        background-color: #d7f7c3;
        margin: 50px auto;
            &__table {
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                    &--td {
                    border: 1px solid #ddd; 
                    padding: 8px;
                    }
                    &--th {
                    border: 1px solid #ddd;
                    padding: 8px;
                    }
                    
                    &--tr:nth-child(even){background-color: #f2f2f2;}
                    
                    &--tr:hover {background-color: #ddd;}
                    
                    &--th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #3f8812;
                    color: white;
                    font-size: 20px;
                    }
                    &--span {
                         font-size: 15px;
                    }
    }

 }

}