.discription{
    width: 100%;
    height: auto;
    background-image: url("https://m.media-amazon.com/images/M/MV5BYTRmZmI4MzgtZDNjZS00YzdmLTk5ZjktNjczODgzYmViM2JhXkEyXkFqcGdeQXVyNzU1OTYxNzU@._V1_.jpg");
    display: flex;
    justify-content:center;
    background-position: center;
    background-size: 100%;
    position: relative;  
    background-repeat:no-repeat;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #1e1e1ee8;
    }   
     &__wrappertop{
        width: 1280px;
        height: auto;
        z-index: 99;
        display: flex;
        justify-content: space-between;
         flex-wrap: wrap;
         margin-top:5em  ;
         flex-direction: column;
         align-items: center;
         &__wrapper{
            display: flex;
             justify-content: center;
             width: auto;
             background-color: #0a0911c2;
             margin-bottom: 1em;
            &--image{
                height: 545px;   
                width: 390px;
            }
            &__details{
                width: 390px;
                height: 545px;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                color:#fff;
                justify-content: space-around;
                align-items: center;   
                &__name{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("name:\00a0")  
                    }
                }
                &__date{
                    width:calc(100% - 50px);
                  
                    &:before{
                        content: ("release date:\00a0")  
                    }
                }
                &__platform{
                    text-transform: uppercase;
                    width:calc(100% - 50px);
                   
                    display: inline-flex;
                    &:before{
                        content: ("platforms:\00a0");
                    }
                    .pc{
                      &::after{
                          content: ("\00a0");
                      }
                    }
                    .ps4{
                        &::after{
                            content: ("\00a0");
                        }
                    }
                    .xbox{
                        &::after{
                            content: ("\00a0");
                        }
                    }
                    }
                &__developer{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("developer:")
                    }   
                }
                &__price{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("price:\00a0")
                    }  
                }
                &__buy{
                    width: 200px;
                    height: 40px;
                    line-height: 3.8rem;
                    text-align: center;
                    border-radius: 0.4em;
                    position: relative;
                    overflow: hidden;
                    border: 2px solid #074d24;
                    &::before{
                        content: ("");
                        position: absolute;
                        left: 0;
                        width:0%;
                        height: 100%;
                        z-index: -1;
                        transition: 0.5s ease-in-out;
                    }
                    &:hover{
                        z-index: 1;   
                    }
                    &:hover::before{
                        width: 100%;
                        background-image: linear-gradient( 109.6deg,#0b5808 22.2%, #032701 77.8% );
                    }
                    }   
                &__buy.cart{
                        border: 2px solid #24407a;
                        &:hover::before{
                            background-image: linear-gradient( 109.6deg,  #0b5a9c 22.2%, #011f42 77.8% );
                          
                        }
                    }
                &__raiting{
                    width: auto;
                    display: flex;
                    flex-direction: column;
                 &__thumbs{
                     font-size: 2.5rem;  
                     display: flex;
                     padding-bottom: 0.4em;
                     &--score{
                        padding-left:0.4em;
                        color:#e69f1d;
                     }  
                     &--score.dislike{
                         color: #6b6868;
                     }          
                 } 
               }
            }
         }
         &__middle{
            width: 700px;
            background-color: #0f0e14;
            &__wrapper{
                position: relative;
                padding-bottom:56.25% ;
                height:0%;
                &__iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left:0;
                    right: 0;
                    top:0;
                    bottom:0;
                }
            }
         }
      &__down{
          margin-top:1em;  
          border-radius: 8px 8px 0 0; 
          max-width: 1000px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #0a0911c2;   
          &__aboutgame{
              padding:32px 28px;
                text-align: justify;
                text-indent: 20px;
                width: auto;
                height: auto;
                font-size: 1.4rem;
                color:#fff;
                line-height: 1.6rem;
                font-size: 1.4rem;
                letter-spacing: 1px; 
                position: relative; 
                &::before{
                    content: ("GAME DISCRIPTION");
                    top:8px;
                    position: absolute;
                    font-weight: bold;
                    left: 8px;
                    font-size: 2rem;
                    color:#376e92;
                }      
               }
                &__system{
                  display: flex;
                  height: auto;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  &__lawspecs,&__recomendedspecs{        
                          line-height: 20px;
                          font-size: 1.2rem;
                          color:#fff;
                          height: 220px;
                          width: 380px;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-evenly;
                          position: relative;
                      }
                      &__lawspecs{
                          &:before{
                              content: ("minimum specs");
                              position: absolute;
                              font-size: 2rem;
                              top:-18px;
                              left: -25px;
                              color:#376e92;
                              text-transform: capitalize;
                          }
                      }
                      &__recomendedspecs{
                        &::before{
                            content: ("recomended specs");
                            position: absolute;
                              font-size: 2rem;
                              top:-18px;
                              left: -25px;
                              color:#376e92;
                              text-transform: capitalize;
                            
                        }
                    }
               }
               &__comment{
                   width: 76%;
                   height: auto;
                   &--wrapper{
                    width: auto ;
                    height: auto;
                    padding: 1.5em;
                    border-radius: 8px 8px 0 0;
                     background-color: #222;
                    &--inside{
                        width: auto;
                        min-height: 190px;
                        font-size: 1.8rem;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        position: relative;
                        
                        &--button{
                            width: 120px;
                            height: 50px;
                            background: linear-gradient(to right, #151416, #090313); 
                            align-self: flex-end;
                            border:none;
                            outline:none;
                            border-radius: 5px;
                            font-size: 1.8rem;
                            color:#fff;
                            text-transform: uppercase;
                            position: absolute;
                            right: 8px;
                         }
                        &--profile{
                            width: 88px;
                            height: 100px;
                            text-align: center;
                            position: relative;
                            &::after{
                                content: ("");
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                transform: rotate(45deg);
                                background-color: #222;                                top: 25px;
                                left: 86px;
                                box-shadow: inset 0 3px 7px #000;
                                z-index: 0;
                            }
                            &--image{
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                            }
                            &--name{
                                color:#fff;
                                font-size: 1.6rem;
                                display: block;
                                word-break: break-all;
                                font-weight: bold;  
                            }
                        }
                      
                       
                        &--comment{
                            width:calc(100% - 105px);
                            height: 120px;
                            border:none;
                            resize: none;
                            border-radius: 10px;
                            padding: 0.7em;
                             display: flex;
                             text-indent: 15px;
                             display: block;
                            background-color: #18181a;
                            background-color: #222;

                            // box-shadow:inset 0px 3px 8px #222;
                            // box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
                             color:#fff;
                             font-weight: 600;
                             font-size: 1.6rem;
                             outline: none;
                             position: relative;
                             box-shadow: inset 0 3px 7px #000;
                             z-index: 1;

                             
                             &::placeholder{
                                 font-weight: 600;
                                 color:#fff;
                             }
                        
                            &::placeholder{
                                font-size: 1.8rem;
                            }
                        }
                    }
                    &--inside.replays{
                     margin-top:1em;
                     
                    }
                    &--result{
                        width: 100%;
                        height: auto;
                        background-color: #18181ad7;
                        margin-top:1.5em; 
                        flex-direction: column;
                        display: flex;
                        border-radius:8px 8px 0 0;
                        // &>div:nth-of-type(2){
                            // background-color: #e6e3e3d7;
                            // width: 300px;
                            // height: 35px;
                            // display: flex;
                            // justify-content: center;
                            // align-items: center;
                            // clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0% 100%);
                            // align-self: flex-end;
                            // &>span:first-child{
                            //     font-size: 1.2em!important;
                            //     color:red;
                            //     padding-right:20px;
                            //     display: block;
                            //     &>fa-thumbs-up{
                            //         font-size: 1.2rem;
                            //     }
                            // }
                        // }
                        
                        &--profile{
                            width:auto;
                            height: auto;
                            align-items: center;
                            margin:0.3em 0 0.3em;
                            display: flex;
                            &--image{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                margin-left:1.5em;
                            }
                            &--name{
                                color:#fff;
                                font-size: 2rem;
                                display: block;
                                word-break: break-all;
                                font-weight: bold; 
                                margin-left: 0.7em; 
                            }
                            
                        }
                        &--comment{
                            width: 100%;
                            height: auto;
                            background-color: #e6e3e3d7;
                            color:#fff;
                            font-size: 1.5rem;
                            text-indent: 30px;
                            text-transform: capitalize;
                            padding: 0.5em;
                            margin-bottom:0;
                            color:#000;       
                        }
                        &--rate{
                            width: 330px;
                            height: 35px;
                            background-color: #e6e3e3d7!important;
                            display: flex;
                            justify-content: flex-end;
                            align-self: flex-end;
                            clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
                            &--wrapper{
                                // background-color: blue;
                                height: 35px;
                                width: 25%;
                                color:#fff;
                                align-self: flex-end;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.15rem;
                                
                                &:hover,&:hover .awesome{
                                    color:#000;
                                }                            
                                &:last-child &--thumbs{
                                    color:#2653b4;
                                    font-size: 1.4rem;
                                    font-weight: 600;
                                    cursor: pointer;
                                }
                                
                                &--thumbs{
                                  border:none;
                                  outline: none;
                                 height: 14px;
                                 width: auto;
                                 display: flex;
                                 align-items: center;
                                 background: none;
                                
                                  .awesome{
                                      color:#fff;
                                      font-size: 1.8rem;
                                      transform: rotate(180deg);
                                      line-height: 40%;
                                  }
                                }
                                &:last-child>&--thumbs>.awesome{
                                    color:#2653b4;
                                }
                                &:last-child:hover &--thumbs>.awesome{
                                    color:#2653b4;
                                }
                                }
                            
                            
                        }
                    }
                    &--result.replay{
        
                        background-color: #525274;
                       
                    }
                   }
               }
         }
    }    
}
@media(max-width:800px){
    .discription{
         background-image: none!important;
    }
    .discription__wrappertop{
        margin:0;
    }
    .discription__wrappertop__wrapper{
        flex-direction: column;
        width: 100%;
        margin:0;
    }
    .discription__wrappertop__wrapper--image{
        height: auto;
        width: 100%;
    }
    .discription__wrappertop__wrapper__details{
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
    .discription__wrappertop__middle{
        width: 100%;
    }
    .discription__wrappertop__down{
        margin:0;
    }
    .discription__wrappertop__down__system{
     align-items: flex-start;
     &__lawspecs,&__recomendedspecs{
         width: 100%;
         margin-left:3em; 
     }
   }
   .discription__wrappertop__down__comment{
       width: 100%;
   }
  
   
}
@media(max-width:600px){
    .discription__wrappertop__down__aboutgame{
        padding:2.8em 0.8em;
    }
    .discription__wrappertop__down__system{
        &__lawspecs,&__recomendedspecs{
            margin-left:1em;
            font-size: 1.1rem;
        }
       
        &__lawspecs{
            &:before{
                content: ("minimum specs");
                font-size: 1.6rem;
                left: 0;
            }
        }
        &__recomendedspecs{
          &::before{
              content: ("recomended specs");
                font-size: 1.6rem;
                left: 0px;  
          }
      }
    }
    .discription__wrappertop__down__comment--wrapper--inside{
     flex-direction: column;
     height: 240px; 
     justify-content: space-between;
    }
    .discription__wrappertop__down__comment--wrapper--inside--comment{
        order:-1;
        width: 100%;
        
       }
       .discription__wrappertop__down__comment--wrapper--inside--profile{
        width: 200px;
        height: 100px;
        text-align: center;
        position: relative;
        height: auto;
        display: flex;
        align-items: center;
        left:10px;
        
        &--name{
         font-size:1.4rem;
        padding: 0.1em;
        
        border-radius: 10%;
        }
        &--image{
            width: 55px;
            height: 55px;
        }
       }
       .discription__wrappertop__down__comment--wrapper{
           width: 100%;
       }
       .discription__wrappertop__down__comment--wrapper--inside--profile::after{
           top:-42px;
           left:17px;
       }
       .discription__wrappertop__down__comment--wrapper--inside--button{
        top: 156px;
         right: 14px;
         width: 90px;
    }
}

