.discription{
    width: 100%;
    height: auto;
    background-image: url("https://m.media-amazon.com/images/M/MV5BYTRmZmI4MzgtZDNjZS00YzdmLTk5ZjktNjczODgzYmViM2JhXkEyXkFqcGdeQXVyNzU1OTYxNzU@._V1_.jpg");
    display: flex;
    justify-content:center;
    background-position: center;
    background-size: 100%;
    position: relative;  
    background-repeat:no-repeat;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #1e1e1ee8;
    }   
     &__wrappertop{
        width: 1280px;
        height: auto;
        z-index: 99;
        display: flex;
        justify-content: space-between;
         flex-wrap: wrap;
         margin-top:5em  ;
         flex-direction: column;
         align-items: center;
         &__wrapper{
            display: flex;
             justify-content: center;
             width: auto;
             background-color: #0a0911c2;
             margin-bottom: 1em;
            &--image{
                height: 545px;   
                width: 400px;
            }
            &__details{
                width: 400px;
                height: 545px;
                text-transform: capitalize;
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                color:#fff;
                justify-content: space-around;
                align-items: center;   
                &__name{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("name:\00a0")  
                    }
                }
                &__date{
                    width:calc(100% - 50px);
                  
                    &:before{
                        content: ("release date:\00a0")  
                    }
                }
                &__platform{
                    text-transform: uppercase;
                    width:calc(100% - 50px);
                   
                    display: inline-flex;
                    &:before{
                        content: ("platforms:\00a0");
                    }
                    .pc{
                      &::after{
                          content: ("\00a0");
                      }
                    }
                    .ps4{
                        &::after{
                            content: ("\00a0");
                        }
                    }
                    .xbox{
                        &::after{
                            content: ("\00a0");
                        }
                    }
                    }
                &__developer{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("developer:")
                    }   
                }
                &__price{
                    width:calc(100% - 50px);
                    &:before{
                        content: ("price:\00a0")
                    }  
                }
                &__buy{
                    width: 200px;
                    height: 40px;
                    background-color: #4a8f63;
                    line-height: 4rem;
                    text-align: center;
                    border-radius: 0.4em;
                    }
                    &__buy.cart{
                        width: 200px;
                        height: 40px;
                        background-color: #24407a;
                        line-height: 4rem;
                        text-align: center;
                }
                &__raiting{
                    width: 85px;
                    display: flex;
                    justify-content: space-evenly;
                 &__thumbs{
                     font-size: 2.5rem;              
                 } 
               }
            }
         }
         &__middle{
            width: 700px;
            background-color: #0f0e14;
            &__wrapper{
                position: relative;
                padding-bottom:56.25% ;
                height:0%;
                &__iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left:0;
                    right: 0;
                    top:0;
                    bottom:0;
                }
            }
         }
      &__down{
          margin-top:1em;  
          border-radius: 8px 8px 0 0; 
          max-width: 1000px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #0a0911c2;   
          &__aboutgame{
              padding:32px 28px;
                text-align: justify;
                text-indent: 20px;
                width: auto;
                height: auto;
                font-size: 1.4rem;
                color:#fff;
                line-height: 1.6rem;
                font-size: 1.4rem;
                letter-spacing: 1px; 
                position: relative; 
                &::before{
                    content: ("GAME DISCRIPTION");
                    top:8px;
                    position: absolute;
                    font-weight: bold;
                    left: 8px;
                    font-size: 2rem;
                    color:#376e92;
                }      
               }
                &__system{
                  display: flex;
                  height: auto;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  &__lawspecs,&__recomendedspecs{        
                          line-height: 20px;
                          font-size: 1.2rem;
                          color:#fff;
                          height: 220px;
                          width: 380px;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-evenly;
                          position: relative;
                      }
                      &__lawspecs{
                          &:before{
                              content: ("minimum specs");
                              position: absolute;
                              font-size: 2rem;
                              top:-18px;
                              left: -25px;
                              color:#376e92;
                              text-transform: capitalize;
                          }
                      }
                      &__recomendedspecs{
                        &::before{
                            content: ("recomended specs");
                            position: absolute;
                              font-size: 2rem;
                              top:-18px;
                              left: -25px;
                              color:#376e92;
                              text-transform: capitalize;
                            
                        }
                    }
               }
               &__comment{
                   width: 76%;
                   height: auto;
                   &--wrapper{
                    width: auto ;
                    height: auto;
                    padding: 1.5em;
                    background-color: #4a8f63;
                    &--inside{
                        width: auto;
                        min-height: 190px;
                        font-size: 1.8rem;
                        display: flex;
                        justify-content: space-between;
                        background-color: blue;
                        flex-wrap: wrap;
                        position: relative;
                        &--button{
                            width: 120px;
                            height: 50px;
                            background-color:red; 
                            align-self: flex-end;
                            border:none;
                            outline:none;
                            border-radius: 5px;
                            font-size: 1.8rem;
                            color:#fff;
                            text-transform: uppercase;
                           position: absolute;
                            right: 0;
                         }
                        &--profile{
                            width: 70px;
                            height: 100px;
                            text-align: center;
                            position: relative;
                            &::after{
                                content: ("");
                                display: block;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                transform: rotate(45deg);
                             background-color: #343438;
                                // border:1px solid rgb(28, 209, 88);
                                top: 25px;
                                left: 80px;
                            }
                            &--image{
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                            }
                            &--name{
                                color:#fff;
                                font-size: 1.6rem;
                                display: block;
                                word-break: break-all;
                                font-weight: bold;  
                            }
                        }
                      
                       
                        &--comment{
                            width:calc(100% - 90px);
                            height: 120px;
                            border:none;
                            resize: none;
                            border-radius: 10px;
                            padding: 0.7em;
                             display: flex;
        
                             text-indent: 15px;
                             position: relative;
                             display: block;
                             background-color: #343438;
                             color:#fff;
                             font-weight: 600;
                             font-size: 2rem;
                             outline: none;
                             position: relative;
                            
                            //  &:focus{
                            //  background-color: #18181ad7;
                            //  }
                             &::placeholder{
                                 font-weight: 600;
                                 color:#fff;
                             }
                        
                            &::placeholder{
                                font-size: 1.8rem;
                            }
                        }
                    }
                    &--result{
                        width: 100%;
                        height: auto;
                        background-color: chocolate;
                        margin-top:1.5em;
                        
                        &--profile{
                            width:400px;
                            height: auto;
                            // text-align: center;
                            align-items: center;
                            background-color: rgb(0, 132, 255);
                          
                            display: flex;
                      
                            // &::after{
                            //     content: ("");
                            //     display: block;
                            //     position: absolute;
                            //     width: 20px;
                            //     height: 20px;
                            //     transform: rotate(45deg);
                            //  background-color: #343438;
                                // border:1px solid rgb(28, 209, 88);
                            //     top: 25px;
                            //     left: 80px;
                            // }
                            &--image{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                            &--name{
                                color:#fff;
                                font-size: 2rem;
                                display: block;
                                word-break: break-all;
                                font-weight: bold; 
                                margin-left: 0.7em; 
                            }
                        }
                        &--comment{
                            width: 100%;
                            height: auto;
                            background-color: brown;
                            color:#fff;
                            font-size: 1.6rem;
                            text-indent: 20px;
                            border-radius: 4px;
                            text-transform: capitalize;
                            padding: 0.5em;
                        }
                    }
                   }
               }
         }
    }    
}
@media(max-width:800px){
    .discription{
         background-image: none!important;
    }
    .discription__wrappertop{
        margin:0;
    }
    .discription__wrappertop__wrapper{
        flex-direction: column;
        width: 100%;
        margin:0;
    }
    .discription__wrappertop__wrapper--image{
        height: auto;
        width: 100%;
    }
    .discription__wrappertop__wrapper__details{
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
    .discription__wrappertop__middle{
        width: 100%;
    }
    .discription__wrappertop__down{
        margin:0;
    }
    .discription__wrappertop__down__system{
     align-items: flex-start;
     &__lawspecs,&__recomendedspecs{
         width: 100%;
         margin-left:3em; 
     }
   }
   .discription__wrappertop__down__comment{
       width: 100%;
   }
  
   
}
@media(max-width:600px){
    .discription__wrappertop__down__aboutgame{
        padding:2.8em 0.8em;
    }
    .discription__wrappertop__down__system{
        &__lawspecs,&__recomendedspecs{
            margin-left:1em;
            font-size: 1.1rem;
        }
       
        &__lawspecs{
            &:before{
                content: ("minimum specs");
                font-size: 1.6rem;
                left: 0;
            }
        }
        &__recomendedspecs{
          &::before{
              content: ("recomended specs");
                font-size: 1.6rem;
                left: 0px;  
          }
      }
    }
    .discription__wrappertop__down__comment--wrapper--inside{
     flex-direction: column;
     height: 240px; 
    }
    .discription__wrappertop__down__comment--wrapper--inside--comment{
        order:-1;
        width: 100%;
        
       }
       .discription__wrappertop__down__comment--wrapper--inside--profile::after{
           top:-30px;
           left:25px;
       }
       .discription__wrappertop__down__comment--wrapper--inside--button{
        top:150px;
        right: 50px;
    }
}

