.header{
    @include size(100%,330px,#222);
    
    @include flex(space-between,center);
    flex-direction: column;
    &__languagebar{
        background-color: red;
        width: 100%;
        height: 50px;;
    }
    &__top{
        width: calc(100% - 150px);
        height: 140px;
        @include flexa(center);
        &__wrapper{
            width: 100%;
            height: 50px;
            @include flex(space-between,center);
            &--logo{
              &--image{
                  display: block;
                  width: 140px;
              }
            }
            &__search{
                width: 250px;
                height: 50px;
                display: flex;
                margin-left: auto;
                &--content{
                    outline: none;
                    border: 2px solid transparent;
                    padding-left: 0.8em;
                    border-radius: 4px  0 0 4px;
                    height:100% ;
                    width: 200px;
                    font-size: 1.6rem;
                    font-weight: 600;
                    display: block;
                    margin-left: auto;
                }
                &--content::placeholder{
                    font-size: 1.8rem;
                    font-family: 'Orbitron', sans-serif;
                    opacity: 1;
                }
                &--button{
                  width: 50px;
                  height: 50px;
                  border: none;
                  outline: none;
                  background-color: #fff;
                  border-radius: 0 4px 4px 0;
                  cursor: pointer;
                  .awesome{
                      font-size: 30px;
                  }
                }
            }
            &--user{
                width: auto;
                height: 50px;
                align-items: center;
                @include flexj(space-evenly);
                &--login{
                    @include size(120px,100%,#000);
                    @include flex(space-evenly,center);
                    background: linear-gradient(1055deg, #114b11 35%, #24c924 ); 
                    border-radius: 4px;
                    color:#fff;
                    cursor: pointer;
                    white-space: nowrap;
                    position: relative;
                    text-decoration: none;
                    margin:0 0.6em 0 0.9em;
                    &--text{
                    font-size: 2rem;
                   
                    }
                    
                }            
                &--login.register{
                    background-color: #2d3436;
                    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
                    width: 150px;
                    margin-left:-0.2em;              
                }
            }
            &--user>div{
                width: auto;
                height: auto;
                display: flex;
                justify-content: space-between;
                margin-left: 0.3em;
                .header__top__wrapper--user--basket{
                    color:#fff;
                    font-size: 2rem;
                    height: 50px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: flex-start;
                    &--image{
                        height: 50px;
                    }
                    &--number{
                       line-height: 50px;
                    }
                }
            }
            &--user>div>a{
                background-image: linear-gradient(115deg, #09203f 0%, #124485 74%);
                width:110px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 4px;
                font-size: 2rem;
                font-weight: bold;
                margin:0 0.2em 0 0.2em;  
                text-decoration: none;
                &:hover{
                    
                }
               
                &:first-child{
                   background: transparent;
                    width: 75px;
                    order: 2;
                    margin-left:0.5em;
                 }
                 &:nth-child(2){
                    text-overflow: ellipsis;
                     white-space: nowrap;
                       overflow: hidden;
                       display: block;
                       text-align: center;
                    
                  }
                 &:last-child{
                    background-image: linear-gradient(115deg, #291e1c 0%, #8a2b20 74%);
                    margin:0 -0.1em 0 0.2em !important;
                 }
            } 
        }
    }
    #open{
        display: flex;
       
    }
    &__bottom{
        @include flexj(center);
        width: calc(100% - 200px);
        height:70px; 
        position: relative;
        &__burger{
            position: absolute;
            width: 70px;
            height: 100%;
            left:42px;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
            // justify-content: space-evenly;
            // background-color: transparent;
            display: none;
            &__line{
                width: 70%;
                height: 4px;
                background-color: #fff;
                transition: 0.7s;
                margin-top:1.4em;
            }
        }
        &__navigation{
            width: 785px;
            height: 100%;
            display: flex;
            z-index: 999;
          &__list{
            height: 70px;
            width: 164px;
            position: relative;
            color: #fff;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 5px 15px #000000a6;
            font-weight: 600;
            &:first-child{
                border-radius: 8px 0 0 0;
            }
            &:last-child{
                border-radius: 0 8px 0 0 ;
            }
            cursor: pointer;
            &:hover{
                color:#21769d;
                box-shadow: 0 5px 15px #0880b8;
                transition: 0.6s ease-in-out;
            }
           &:hover &--item{
               display: block;           
           }
            &--item{
                position: absolute;
                height: auto;
                width: 100%;
                top:70px;
                display: flex;
                flex-direction: column;
                display: none;
                z-index: 999;
                box-shadow: 0 5px 30px #000000a6;
                text-decoration: none;
                &--link{    
                    display: block;
                    width: 100%;
                    height: 70px;
                    text-align: center;
                    line-height: 70px;
                    color: #fff;
                    font-size: 1.5rem; 
                    box-shadow: 0 5px 15px #000000a6;
                    background-color: #222; 
                    &:hover{
                        transition: 0.6s;
                        box-shadow: 0 5px 15px #df0808;
                        color:#df0808;
                        // box-shadow: 2px  -5px 32px #b30707;
                        // background-color: #a52a2a;
                    }
                }
            }
          }
        }
       } 
    }  
@media (max-width:1024px){
    .header__top{
        width: 100%;
    }
    .header__bottom{
        width: 100%;
    }
    .header__top__wrapper{
        height: 156%;
        width: 100%;
        flex-wrap: wrap;
    }
    .header__top__wrapper--logo--image{
        margin:1em 0 0 0;
        margin:3.2em 0 0 0.9em;  
    }
    .header__top__wrapper--user{
      margin:3em 1.4em 0 0;
    }
    .header__top__wrapper__search{
        width: 120%;
        order: 1;
    }
    .header__top__wrapper__search--content{
        width: 100%;
        border-radius: 0;
        padding-left: 35px;  
    }
    .header__top__wrapper__search--button{
        border-radius: 0;
    }
   
}
@media(max-width:800px){
    .header__bottom{
        position: relative;     
    }
     .header__bottom__navigation{
      width: auto;
      height: auto;
      position: absolute;
      right:0;
        flex-direction: column;
        display: none;
        transition:1s opacity 0.5s ease-out;
     }
     .header__bottom__navigation__list{
         position: relative;
         background-color: #222;
         &:first-child{
            border-radius:  0 ;
        }
        &:last-child{
            border-radius:  0 ;
        }  
}
     .header__bottom__navigation__list--item{
        position: absolute;   
        right: 164px;
        top:0;
     }
        .header__bottom__burger{
        //  z-index: 9999;
         display: flex;  
         flex-direction: column; 
         align-items: center;  
    } 
}
    @media(max-width:600px){
        .header__top__wrapper--user{
         height: auto;
         width: auto;
         justify-content: space-evenly;
         flex-direction: column;
         align-items: center;
        }
        .header__top__wrapper--user--login{
        height: 50px;
        width: 150px;
    }
    .header__top__wrapper--user--login.register{
        margin: 0.5em 0 0 0.3em;
    }
    .header__top__wrapper--user>div{
        width: 199px;
        height: 110px;
        flex-direction: column;
        margin:0 -1.3em 0 0;
        flex-wrap: wrap;
        &>a:first-child{
            order: 5;
            width: 80px;
            margin:14% -0.3em 0 0;
         }
       
        
    }
    
}



















// animation:headernavigation 0.6s linear forwards; 
                   
                    
// }
// @keyframes headernavigation {
//     0%{ transform: translatex(30px) }
//     100% {transform: translatex(0) }
    
// box-shadow: 0 5px 35px ;