.form{
   font-family: "Concolas";
    @include size(400px,470px,#505c5ccc);
    @include flex(center, center);
    flex-direction: column;
    margin:100px auto;
    border-radius: 8px;
    &__register{
        margin-top:20px;
        @include font(20px,#fff); 
        border: none ;
        border-bottom: 1px solid transparent;
        @include size(100%,30px,transparent);
        z-index: 1; 
        padding-left:10px;
        border-bottom: 1px solid #0bb3e6;
        &:focus,&:valid{
        outline: none;
        border-bottom: 1px solid #0bb3e6;
        }
        &:focus+label,&:valid+label{
            top:-50px;
            @include font(17px,#0bb3e6); 
        }   
    }
    &__label{
        display: block;
        position: relative;
         @include font(20px,#fff);
         transition: 0.5s;
         z-index: 2;
         top: -30px;
         left: -150px;
    }
    &__label.repeatpassword{
        left: -121px;  
    }
    &__label.email{
        left: -165px;  
     }
     &__label.age{
        left: -173px;  
     }
     &__label.bday{
        left: -154px;  
     }
     &__label.balance{
        left: -157px;  
     }
     &__submit{
     @include size(150px,40px,#0bb3e6);
     @include font(1.6rem,#fff);
       border-radius: 8px;
       border: none;
       outline: none;
       font-weight: 600;
       cursor: pointer;
     }  
}
form.login{
    height: 350px;
    position: relative;
    .register{
        @include font(1.7rem,#fff);
        position: absolute;
        bottom:8%;
        left:auto;
        padding: 5px;
        &:hover{
            color:#720a0aab;
            transition: 0.5s;
        }
    }
}